* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: hsl(212, 45%, 89%) 
}
.card-main{
  background-color: hsl(0, 0%, 100%);
  width:300px;
  border-radius: 19px;
  margin: auto;
  margin-top: 10%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
}
.card__image img{
  max-width: 100%;
  border-radius: 11px;
}
.card__text{ 
  font-family: 'Outfit';
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__text--title{
  font-weight: 700;
  font-size: 1.3rem;
}
.card_text--paragraph{
  font-weight: 400;
  font-size: .9rem;
  margin-bottom: 1.5rem;
  color: hsl(220, 15%, 55%)
}

 


